{% set question = 'Select the application type' %}
{% set types = data.tass[data['vehicle-category']] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="upload-form">
      {{ govukRadios({
      name: "application-type",
      fieldset: {
      legend: {
        text: question,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
      },
      items: types[data['test-type']] | formsToRadio
      }) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
