<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>
      {% if not data['myvt'] %}
      <h2 class="govuk-heading-l">
        About you
      </h2>
      {% set name %}
      {{data['first-name']}} {{data['last-name']}}
      {% endset %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: name
            },
            actions: {
              items: [
                {
                  href: "what-is-your-name?changing=1#first-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Company name (if relevant)"
            },
            value: {
              text: data['company-name'] or "None given"
            },
            actions: {
              items: [
                {
                  href: "what-is-your-name?changing=1#company-name",
                  text: "Change",
                  visuallyHiddenText: "company name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['email']
            },
            actions: {
              items: [
                {
                  href: "what-is-your-email-address?changing=1#email",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data['telephone-number']
            },
            actions: {
              items: [
                {
                  href: "what-is-your-phone-number?changing=1#telephone-number",
                  text: "Change",
                  visuallyHiddenText: "phone number"
                }
              ]
            }
          }
          ]})}}
          {% endif %}
          <h2 class="govuk-heading-l govuk-!-margin-top-9">Your vehicles</h2> 
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <!-- START OF VEHICLES -->
          {% for vehicle in data['vehicles'] %}
          <div class="govuk-accordion__section">
            {% set vrm %}
              {% if vehicle.vrm %}
                <span class="dvsa-vrm">{{ vehicle.vrm | vrm }}</span>
              {% else %}
                Not provided
              {% endif %}
            {% endset %}
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{loop.index}}">
                  Vehicle {{ loop.index }}
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-{{loop.index}}" class="govuk-accordion__section-content">
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h4 class="govuk-summary-card__title">Vehicle {{ loop.index }} details</h4>
              </div>
              <div class="govuk-summary-card__content">
                {%- set changeVin -%}vehicle-details?changing=1&index={{ loop.index0 }}#vin{%- endset -%}
                {%- set changeVrm -%}vehicle-details?changing=1&index={{ loop.index0 }}#vrm{%- endset -%}
                {{ govukSummaryList({
                  rows: [
                  {
                    key: {
                      text: "Vehicle category"
                    },
                    value: {
                      text: vehicle['category']
                    }
                  },
                  {
                    key: {
                      text: "Vehicle identification number (VIN)"
                    },
                    value: {
                      text: vehicle['vin']
                    },
                    actions: {
                      items: [
                        {
                          href: changeVin,
                          text: "Change",
                          visuallyHiddenText: "VIN"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Vehicle registration mark or trailer ID"
                    },
                    value: {
                      html: vrm
                    },
                    actions: {
                      items: [
                        {
                          href: changeVrm,
                          text: "Change",
                          visuallyHiddenText: "vrm"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Design and construction category"
                    },
                    value: {
                      html: vehicle.unece
                    },
                    actions: {
                      items: [
                        {
                          href: '#',
                          text: "Change",
                          visuallyHiddenText: "category"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Number of axles"
                    },
                    value: {
                      html: vehicle.axles
                    },
                    actions: {
                      items: [
                        {
                          href: '#',
                          text: "Change",
                          visuallyHiddenText: "category"
                        }
                      ]
                    }
                  } if vehicle.axles,
                  {
                    key: {
                      text: 'Number of passengers the vehicle can carry'
                    },
                    value: {
                      text: vehicle.sizeOfPsv
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "size of PSV"
                        }
                      ]
                    }
                  } if vehicle.sizeOfPsv
                ]
              })}}
            </div>
          </div>
            <h4 class="govuk-heading-m">Test applications for vehicle {{ loop.index }}</h4>
            <!-- START OF TESTS -->
            {% for test in vehicle.tests %}
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h5 class="govuk-summary-card__title">{{ test.test }}</h5>
              </div>
              <div class="govuk-summary-card__content">
              {{ govukSummaryList({
                rows: [
                 {
                  key: {
                    text: 'Application form'
                  },
                  value: {
                    text: test.form
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "application form"
                      }
                    ]
                  }
                 },
                 {
                  key: {
                    text: 'Supporting documents'
                  },
                  value: {
                    text: test.supporting
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "support documents"
                      }
                    ]
                  }
                 },
                 {
                  key: {
                    text: 'Include a seat belt installation check'
                  },
                  value: {
                    text: test.seatBeltInstallation
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "support documents"
                      }
                    ]
                  }
                 } if test.test | includes('417'),
                 {
                  key: {
                    text: 'Changes to the vehicle details as a result of the alterations'
                  },
                  value: {
                    text: test.notifiableAlteration
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "support documents"
                      }
                    ]
                  }
                 } if test.test | includes('VTG10'),
                 {
                  key: {
                    text: 'Will the vehicle will have a test and an MOT?'
                  },
                  value: {
                    text: test.mot
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "support documents"
                      }
                    ]
                  }
                 } if test.test | includes('417'),
                 {
                  key: {
                  text: 'Preferred location'
                  },
                  value: {
                    text: test.testCentre
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "preferred test location"
                      }
                    ]
                  }
                 }
                ]
              }) }}
              </div>
            </div>
          <!--- END OF TESTS -->
            {% endfor %}
            <form action="/add-test">
              <input type="hidden" value="{{ loop.index0 }}" name="addTo">
              <button value="add-test" class="govuk-button govuk-button--secondary">Add another application for vehicle {{ loop.index }}</button>
            </form>
          </div>
          </div>
          {% endfor %}
          <!--- END OF VEHICLES -->
        </div>
          <form action="/add-vehicle">
            <button value="add-vehicle" class="govuk-button govuk-button--secondary">Add another vehicle</button>
          </form>
        {% if data.pfa %}
        <h3 class="govuk-heading-m">Approve payment from your pre-funded account</h3>
        <p class="govuk-body">Pre-funded account balance: £XXXX.XX</p>
        <p class="govuk-body"><strong>Total to pay: £XXX.XX</strong></p>
        <p class="govuk-body">This gives the DVSA permission to collect the cost of the application from your pre-funded account.</p>
        <form action="confirmation">
          {% else %}
          <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            <h3 class="govuk-heading-m">Paying for your application</h3>
            <p class="govuk-body"><strong>Total to pay: £XXX.XX</strong></p>
            <p class="govuk-headin-m">Payment is required now, before the DVSA processes your application.</p>
            <p class="govuk-body">Selecting 'Proceed to payment' will take you to our payment provider Customer
              Payment Management System. </p>
          
            <p class="govuk-body">Make sure you have your card details in front of you, as you will have 30 minutes to complete
              your payment. This is to keep your information safe and secure. Any details you enter will not be shared.</p>
          
            <p class="govuk-body"><strong>To get an email confirmation of your payment, enter your email address when asked to on
                the ‘Additional Details’ page.</strong></p>
          </div>
        <form action="/cpms">
        {% endif %}
          <div class="govuk-button-group">
            <button value="payment" class="govuk-button">{%- if data.pfa -%}Accept and approve payment{%- else -%}Proceed to payment{%- endif -%}</button>
          </div>
        </form>
      </div>
    </div>
