{% set title = data['test-type'] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
        titleText: "Submission received",
        html: "Your submission number<br><strong>APP-1088-0224</strong>"
      }) }}
      <p>We have sent you a confirmation email.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We will assess your submission and let you know whether it meets the requirements or has been rejected.</p>
      <h2 class="govuk-heading-m">Contacting the DVSA</h2>
      <p>If you need to get in touch about this submission, then include the submission number and the relevant vehicle identification number in an email to <a class="govuk-link govuk-link--no-visited-state" href="mailto:enquiries@dvsa.gov.uk?subject=APP-1088-0224">enquiries@dvsa.gov.uk</a></p>
  </div>
</div>
