{% if errors %}
{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}
<form action="/dda-schedules-check" method="post">
    <div class="govuk-caption-m">
      {{ data['test-type'] }}
    </div>
    {{ govukRadios({
      "idPrefix": "schedules",
      "name": "schedules",
      "fieldset": {
        "legend": {
          "text": "Select what the accessibility certificate needs to cover",
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": [
        {
          "value": "General accessibility",
          "text": "General accessibility"
        },
        {
          "value": "Wheelchair accessibility",
          "text": "Wheelchair accessibility"
        },
        {
          "value": "Both general and wheelchair accessibility",
          "text": "Both general and wheelchair accessibility"
        }
      ]
    } | errorFilter(errors))  }}
  {{ govukButton({
    text: 'Save and continue',
    type: 'submit'
  }) }}
</form>
