{% if data['vehicle-category'] == 'Heavy goods vehicle (HGV) or lorries (more than 3,500kg)' %}
  {% set letter = 'A' %}
{% else %}
  {% set letter = 'T' %}
{% endif %}
{% set explainer %}
<p class="govuk-hint">These paper documents show important details about the vehicle. The ministry plate or plating certficiate can include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li class="govuk-hint">the serial number</li>
  <li class="govuk-hint">the gross weight, train weight, and maximum train weight</li>
  <li class="govuk-hint">the length and width</li>
  <li class="govuk-hint">the axle weights</li>
  <li class="govuk-hint">the conditions about the use of tyres</li>
</ul>
<p class="govuk-hint">If the vehicle details change as part of the alterations, then the DVSA will issue a new VTG6 or both a VTG6 and a VTG7.</p>
<h2 class="govuk-heading-m">Changes to the vehicle details as a result of the alterations</h2>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
      {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <form action="/notifiable-alteration-check" method="post">
      {{ govukRadios({
        idPrefix: "notifiable-alteration",
        name: "notifiable-alteration",
        fieldset: {
          legend: {
            text: "Vehicle details on the ministry plate or plating certificate",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: explainer
        },
        items: [
          {
            value: "The vehicle details are changing",
            text: "The vehicle details are changing"
          },
          {
            value: "The vehicle details are staying the same",
            text: "The vehicle details are staying the same"
          }
        ]
      } | errorFilter(errors)) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}
    </form>
  </div>
</div>
