{% if data['vehicle-category'] == 'Heavy goods vehicle (HGV) or lorries (more than 3,500kg)' %}
  {% set letter = 'A' %}
{% else %}
  {% set letter = 'T' %}
{% endif %}
{% set explainer %}
<p class="govuk-hint">The plate (sometimes called the ministry plate) and plating certificate are paper documents that show important vehicle details. If there is a mistake in the document or the vehicle details have changed, the plate or plating certificate should be updated.</p>
<h2 class="govuk-heading-m">There's a mistake on the plate or plating certificate</h2>
<p class="govuk-hint">You can apply to get information corrected on your plate or plating certificate if it's wrong.</p>
<h2 class="govuk-heading-m">The vehicle details have changed</h2>
<p class="govuk-hint">You need to update the plate and plating certificate if you make a notifiable alteration. This includes changes such as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li class="govuk-hint">the chassis</li>
  <li class="govuk-hint">the tyres</li>
  <li class="govuk-hint">the brakes</li>
  <li class="govuk-hint">the weight you can carry</li>
</ul>
<h2 class="govuk-heading-m">Changing the plate or plating certificate</h2>
{% endset %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
      {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <form action="/notifiable-alteration-check" method="post">
      {{ govukRadios({
        idPrefix: "notifiable-alteration",
        name: "notifiable-alteration",
        fieldset: {
          legend: {
            text: "Vehicle details on the plate and plating certificate",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: explainer
        },
        items: [
          {
            value: "DVSA made a mistake on the plate or certificate",
            text: "DVSA made a mistake on the plate or certificate"
          },
          {
            value: "The vehicle details have changed",
            text: "The vehicle details have changed"
          },
          {
            value: "The vehicle details have stayed the same",
            text: "The vehicle details have stayed the same"
          },
        ]
      } | errorFilter(errors)) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}
    </form>
  </div>
</div>
