<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
      {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <div class="govuk-caption-m">
      {{ data['test-type'] }}
    </div>

    <form action="/seat-belt-check" method="post">
      {{ govukRadios({
        idPrefix: "seat-belt-installation",
        name: "seat-belt-installation",
        fieldset: {
          legend: {
            text: "Include a seat belt installation check",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "This will take place as part of the test."
        },
        items: [
          {
            value: "Include a seat belt installation check",
            text: "Include a seat belt installation check"
          },
          {
            value: "Do not include a seat belt installation check",
            text: "Do not include a seat belt installation check"
          }
        ]
      } | errorFilter(errors)) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}
    </form>
  </div>
</div>