{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set question = 'Select a type of test centre for an inspection' %}
{% set hint %}
<p class="govuk-hint">
  Even if you think your vehicle doesn't need an inspection, you must select an option. The DVSA reserves the right to inspect your vehicle.
</p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/submit-test">
      <h1 class="govuk-heading-l">Test location question goes here</h1>
      {{ hint | safe }}
      <input type="hidden" name="test-location" value="GV">
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>