{% set question = 'Find a test centre for an inspection' %}
{% set title = data['test-type'] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-caption-m">{{ title }}</div>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      Test locations near {{ data['find-test-centre'] | upper }}
    </h1>
    <p class="govuk-body">
      <a href="test-location" class="govuk-link govuk-link--no-visited-state">Search again</a>
    </p>
    <div class="govuk-caption-m">Showing 1 to 5 of 50 results</div>
    <hr aria-hidden="true" class="govuk-section-break--visible govuk-!-margin-bottom-3">
    <form action="/test-location-check">
      <ul class="govuk-list">
        {% for testCentre in data.testCentres %}
          <h2 class="govuk-heading-m govuk-!-display-inline-block govuk-!-margin-top-1 govuk-!-margin-right-4">{{ testCentre.name }}</h2>
          <button class="govuk-button govuk-button--secondary govuk-!-display-inline-block" type="submit" name="select-test-centre" value="{{ testCentre.name }}">Select <span class="govuk-visually-hidden">{{ testCentre.name }}</span></button><br>
          <strong>Test Centre Number</strong>
          <p>{{ testCentre.number }}</p>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <address>
                {% for line in testCentre.address | split(',') %}
                  {{ line }}<br>
                {% endfor %}
              </address>
              <p class="govuk-body">
                <strong class="govuk-!-margin-bottom-1">Contact details</strong><br>
                <a class="govuk-!-margin-bottom-1 govuk-!-margin-top-1 govuk-link govuk-link--no-visited-state" href="tel:{{ testCentre.phone }}">{{ testCentre.phone }}</a><br>
                <a class="govuk-!-margin-bottom-1 govuk-!-margin-top-1 govuk-link govuk-link--no-visited-state" href="mailto:{{ testCentre.email }}">{{ testCentre.email }}</a>
              </p>
              <!-- <p>
            <strong class="govuk-!-margin-bottom-1">Availability</strong><br>
            <strong class="govuk-!-margin-bottom-1 govuk-!-margin-top-1 govuk-tag govuk-tag{{ testCentre.availability | availabilityTag }}">{{ testCentre.availability }}</strong><br>
            <span class="govuk-!-margin-bottom-1 govuk-!-margin-top-1 govuk-body-s">Before {{ 'fourWeeks' | date }}</span>
          </p> -->
            </div>
            <!-- <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-margin-bottom-1">
            <strong>Tested at this centre</strong>
          </p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
            {% for feature in testCentre.testedHere %}
              <li class="govuk-body-s">{{ feature }}</li>
            {% endfor %}
          </ul>
          <p class="govuk-body govuk-!-margin-bottom-1">
            <strong>Not tested at this centre</strong>
          </p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
            {% for feature in testCentre.notTestedHere %}
              <li class="govuk-body-s">{{ feature }}</li>
            {% endfor %}
          </ul>
          <p class="govuk-body govuk-!-margin-bottom-1">
            <strong>Site restrictions</strong>
          </p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
            {% for feature in testCentre.siteRestrictions %}
              <li class="govuk-body-s">{{ feature }}</li>
            {% endfor %}
          </ul>
        </div> -->
          </div>
          <hr aria-hidden="true" class="govuk-section-break--visible govuk-!-margin-bottom-3">
        {% endfor %}
      </ul>
    </form>
    <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--ellipses">⋯</li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 10">
            10
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
            width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
      <div class="page-count">Showing 1 to 5 of 50 results</div>
    </nav>
  </div>
</div>