{% set question = 'Select the technical test' %}
{% set types = data.tass %}
{% set nextPage = 'application-type' %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{ nextPage }}">
      {{ govukRadios({
      name: "test-type",
      fieldset: {
      legend: {
        text: question,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
      },
      items: types[data['vehicle-category']] | radiosFromObject
      }) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>