{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set question = 'Select a time slot for an inspection' %}
{% set hint %}
<p class="govuk-hint">
  Even if you think your vehicle doesn't need an inspection, you must select an option. The DVSA reserves the right to inspect your vehicle.
</p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/submit-test">
      {{ govukRadios({
        name: "test-time",
        fieldset: {
          legend: {
            text: question,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: hint
        },
        items: [
          {
            value: "NH",
            text: "Inside working hours",
            hint: {
              text: "From 8am to 5pm from Monday to Thursday and 8am to 4.30pm on Fridays."
            }
          },
          {
            value: "OH",
            text: "Outside working hours",
            hint: {
              text: "After 5pm from Monday to Thursday and after 4.30pm on Fridays."
            }
          }
        ]
      }) }}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>