{% set question = 'Select the technical test' %}
{% set types = data.tass %}
{% set nextPage = '/test-type-check' %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <form action="{{ nextPage }}">
      {{ govukRadios({
      name: "test-type",
      fieldset: {
      legend: {
        text: question,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
      },
      items: types[data['vehicle-category']] | radiosFromObject(data['test-type'])
      } | errorFilter(errors)) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>