{% set question = "Select your vehicle's design and construction category" %}
{% if query.changing %}
  {% set nextPage = "/change-class" %}
  {% set vehicleCount = data.vehicles | length %}
  {% set vehicleIndex = query.index | int + 1 %}
  {% set vehicleClass = data['vehicles'][query['index']]['vehicle-class'] %}
{% else %}
  {% set vehicleCount = data.vehicles | length + 1 %}
  {% set vehicleIndex = vehicleCount %}
  {% set nextPage = "/unece-category-check" %}
  {% set vehicleCategory = data['vehicle-category'] %}
  {% if vehicleCategory == 'Motorcycles, 3-wheeled vehicles and quadricycles' %}
  {% set uneceCategories = data.uneceCategories[vehicleCategory][data['number-of-wheels']] %}
  {% else %}
  {% set uneceCategories = data.uneceCategories[vehicleCategory] %}
  {% endif %}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
    {% endif %}
    <div class="govuk-caption-m">Vehicle {{ vehicleIndex }} of {{ vehicleCount }} </div>
    <form class="form" action="{{ nextPage }}">
      {{ govukRadios({
        name: 'unece',
        fieldset: {
          legend: {
            text: question,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You might know the categories in relation to the European Union (EU) or the United Nations Economic Commission for Europe (UNECE)."
        },
        items: uneceCategories,
        values: data.unece
      } | errorFilter(errors))  }}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
