{% set title = data['test-type'] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="upload-supporting-documentation">
      <div class="govuk-caption-m">{{ title }}</div>
      <h1 class='govuk-heading-l'>Upload application form</h1>
      <p class="govuk-body">
        Upload the official document you have completed for your {{ title }} application.
      </p>
      <p class="govuk-body">
        The application form that you upload must:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a file name that is no more than 128 characters long</li>
        <li>have a file name that only contains letters, numbers, and a single full stop</li>
        <li>be smaller than 10MB</li>
        <li>be in a .doc, .docx, .pdf, .xls or .xlsx format</li>
      </ul>
      {{ govukFileUpload({
      id: "application-upload",
      name: "application-upload",
      label: {
      html: "<strong>Choose an application form to upload</strong>"
      }
      }) }}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>

  </div>
</div>
