{% set question = "Enter your vehicle's details" %}
{% if query.changing %}
  {% set nextPage = "/change-vehicle" %}
  {% set vehicleCount = data.vehicles | length %}
  {% set vehicleIndex = query.index | int + 1 %}
  {% set vin = data['vehicles'][query['index']]['vin'] %}
  {% set vrm = data['vehicles'][query['index']]['vrm'] %}
{% else %}
  {% set vehicleCount = data.vehicles | length + 1 %}
  {% set vehicleIndex = vehicleCount %}
  {% set nextPage = "/vin-check" %}
  {% set vin = data['vin'] %}
  {% set vrm = data['vrm'] %}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <div class="govuk-caption-m">Vehicle {{ vehicleIndex }} of {{ vehicleCount }} </div>
    <form class="form" action="{{ nextPage }}" novalidate>
      {% if query.changing %}
        <input type="hidden" name="changing" value="{{query.index}}">
      {% endif %}
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      {{ govukInput({
      classes: "govuk-input--width-20",
      label: {
        text: "Vehicle identification number (VIN)"
      },
      hint: {
        text: "This is also known as a chassis number."
      },
      id: "vin",
      value: vin,
      name: "vin",
      spellcheck: false
    }| errorFilter(errors)) }}
    {{ govukInput({
      label: {
      text: "Vehicle registration mark (VRM) or Trailer ID"
      },
      hint: {
        text: "Iff your vehicle is not registered, leave this blank."
      },
      classes: "govuk-input--width-10",
      id: "vrm",
      value:vrm,
      name: "vrm",
      spellcheck: false
      }) }}
      {% endcall %}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>