{% set categories = data.tass %}
{% if data['vehicle-confirmation'] == 'yes' %}
  {% set foundVehicleCategory %}{{ data.vehicle['typeApproval'] | typeApproval }}{% endset %}
{% endif %}
{% set vehicleCount = data.vehicles | length + 1 %}
{% set vehicleIndex = vehicleCount %}
{% set nextPage = '/vehicle-category-check' %}

{% set question = 'Select a vehicle category' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
      {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <div class="govuk-caption-m">VIN: {{data.vin}}</div>
    <form class="form" action="{{ nextPage }}">
      {{ govukRadios({
      name: "vehicle-category",
      fieldset: {
      legend: {
        text: question,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
      },
      items: categories | radiosFromObject(foundVehicleCategory)
      } | errorFilter(errors)) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>