<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">
      <p class="govuk-body">
      Before you start, you will need to download and fill in an application form.
    </p>
      {% if data.pfa %}
        <p class="govuk-body">
          When you submit your application, we will collect your payment from your pre-funded account. Some of the details you
          enter as part of this application will be used to work out the cost.
      </p>
      {% else %}
      <p class="govuk-body">
        When you submit your application, you will need to pay with a credit or debit card. Some of the details you enter as
        part of this application will be used to work out the cost.
      </p>
      {% endif %}
      <p class="govuk-body">
        Information is available to help you <a href="https://www.gov.uk/browse/driving/manufacture-adapt-vehicle" class="govuk-link govuk-link--no-visited-state">the right form and the cost of your application</a>.
      </p>
    </div>
  </div>
</div>

{% set question = "Enter your vehicle's details" %}
{% if query.changing %}
  {% set nextPage = "/change-vehicle" %}
  {% set vehicleCount = data.vehicles | length %}
  {% set vehicleIndex = query.index | int + 1 %}
  {% set vin = data['vehicles'][query['index']]['vin'] %}
  {% set vrm = data['vehicles'][query['index']]['vrm'] %}
{% else %}
  {% set vehicleCount = data.vehicles | length + 1 %}
  {% set vehicleIndex = vehicleCount %}
  {% set nextPage = "/vin-check" %}
  {% set vin = data['vin'] %}
  {% set vrm = data['vrm'] %}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
      {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}

    <form class="form" action="{{ nextPage }}" novalidate>
      {% if query.changing %}
        <input type="hidden" name="changing" value="{{query.index}}">
      {% endif %}
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      {{ govukInput({
      classes: "govuk-input--width-20",
      label: {
        text: "Vehicle identification number (VIN)"
      },
      hint: {
        text: "This is also known as a chassis number."
      },
      id: "vin",
      value: vin,
      name: "vin",
      spellcheck: false
    }| errorFilter(errors)) }}
      {{ govukInput({
      label: {
      text: "Vehicle registration mark (VRM) or Trailer ID"
      },
      hint: {
        text: "If your vehicle is not registered, leave this blank."
      },
      classes: "govuk-input--width-10",
      id: "vrm",
      value:vrm,
      name: "vrm",
      spellcheck: false
      }| errorFilter(errors)) }}
      {% endcall %}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>