<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <div class="govuk-caption-m">VIN: {{ data.vin }}</div>
    <form action="/vtp6-check">

      {{ govukRadios({
        "name": "vtp6",
        "fieldset": {
          "legend": {
            "text": "Select the document you are replacing",
            "isPageHeading": true,
            "classes": "govuk-fieldset__legend--l"
          }
        },
        "items": [
          {
            "value": "certificate-of-initial-fitness",
            "text": "Certificate of Initial Fitness (PSV 418)"
          },
          {
            "value": "certificate-of-conformity",
            "text": "Certificate of Conformity (PSV 408)"
          },
          {
            "value": "accessibility-certificate",
            "text": "Accessibility Certificate (PSVA 2)"
          },
          {
            "value": "conformity-certificate",
            "text": "Conformity Certificate (PSVA 7)"
          },
          {
            "value": "carrying-capacity-authorisation",
            "text": "Carrying Capacity Authorisation (PSV 445)"
          }
        ]
      } | errorFilter(errors)) }}
      {{
        govukButton({text:'Save and continue'})
      }}
    </form>
  </div>
</div>