//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'UK-VRM';
  src: url('../uk-vrm.ttf');
}

.dvsa-vrm {
  display: inline-block;
  min-width: 9.375rem;
  font: 1.8rem 'UK-VRM', Verdana, sans-serif;
  padding: govuk-spacing(1) .2rem;
  text-align: center;
  background-color: #fd0;
  border-radius: .25rem;
  text-transform: uppercase
}

.app-masthead {
  box-sizing: border-box;
  color: #fff;
  background: #1d70b8
}

.app-masthead h1 {
  margin-bottom: 15px
}

.app-masthead .atf-details,
.app-masthead .atf-details a,
.app-masthead .govuk-body,
.app-masthead .govuk-breadcrumbs__link,
.app-masthead .govuk-breadcrumbs__list-item,
.app-masthead .jquery-bootstrap-pagination .pagination a,
.app-masthead .money-display-s dt,
.app-masthead h1,
.jquery-bootstrap-pagination .pagination .app-masthead a,
.money-display-s .app-masthead dt {
  max-width: 70ch;
  color: #fff
}

.app-masthead .atf-details:focus,
.app-masthead .atf-details a:focus,
.app-masthead .govuk-body:focus,
.app-masthead .govuk-breadcrumbs__link:focus,
.app-masthead .govuk-breadcrumbs__list-item:focus,
.app-masthead .money-display-s dt:focus,
.app-masthead h1:focus,
.money-display-s .app-masthead dt:focus {
  outline: 3px solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: $govuk-focus-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px #0b0c0c;
  text-decoration: none
}

.app-masthead .govuk-breadcrumbs {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: govuk-spacing(2);
}

.app-masthead .govuk-breadcrumbs__list-item:before,
.app-masthead .nav-card dt:before,
.nav-card .app-masthead dt:before {
  border-color: govuk-colour('white');
}

.atf-details {
  margin-bottom: govuk-spacing(3)
}

.masthead-heading {
  display: inline-block;
  margin-top: govuk-spacing(9);
  margin-bottom: govuk-spacing(8)
}

#direct-debit-description {
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #b1b4b6
}

.direct-debit-list li {
  margin-bottom: 30px
}

.direct-debit-detail {
  margin: 0
}

.direct-debit-detail .govuk-heading-l,
.direct-debit-detail .money-display-s dd,
.direct-debit-detail .money-display dd,
.money-display-s .direct-debit-detail dd,
.money-display .direct-debit-detail dd {
  margin-bottom: 20px
}

.direct-debit-detail dd,
.direct-debit-detail dt {
  margin: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0
}

.direct-debit-detail .govuk-summary-list__value {
  text-align: right
}

.invite-team-member-error-summary {
  display: none
}

.invoice-row dd,
.invoice-row dt {
  display: inline;
  margin: 0;
  padding: 0
}

.invoice-row dt {
  font-weight: 400
}

.money-display-list dd {
  @extend .govuk-heading-l;
}

.money-display-list dt {
  @extend .govuk-heading-s;
}

.money-display-list {
  display: flex;
  min-height: 8.5rem;
  margin-right: 15px;
  padding: 0;
  float: left;
  flex-flow: row wrap
}

@media (max-width: 40.0525em) {
  .money-display-list {
    width: 100%;
    margin: 0
  }
}

.money-display,
.money-display-s {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  gap: 30px;
  margin: 0 15px;
  padding: 20px 25px;
  background-color: #f3f2f1
}

@include govuk-media-query($until: tablet) {
  .money-display,
  .money-display-s {
    margin: 15px;
    gap: 20px
  }
}

@include govuk-media-query($until: tablet) {
  .money-display,
  .money-display-s {
    width: 100%
  }
}

.money-display-s dt,
.money-display dt {
  margin: 0;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2
}

.money-display-s dd,
.money-display dd {
  margin: 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
}

.money-display-s {
  width: 100%;
  margin: 15px 0;
  padding: 10px 15px
}

.money-display-divider {
  margin-top: 30px;
  margin-bottom: 40px;
  border-top: 1px solid #b1b4b6
}

.money-display-divider-s {
  margin: 0 0 10px;
  border-top: 2px solid #1d70b8
}

.nav-card-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: calc(-1 * govuk-spacing(3));
  margin-right: calc(-1 * govuk-spacing(3));
}

.nav-card {
  width: 33%;
  margin-bottom: 30px;
  padding: 0 15px
}

@include govuk-media-query($until: tablet) {
  .nav-card {
    width: 100%
  }
}

.nav-card dt {
  position: relative;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 2px solid #505a5f;
  @extend .govuk-body-l;
  font-weight: 700;
}

.nav-card dt:first-child:before {
  content: "";
  display: block;
  top: 20px;
  right: 11.69px;
  left: unset;
  margin: 0;
}

.nav-card dt:before {
  @extend .govuk-breadcrumbs__list-item;
}

.nav-card a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@include govuk-media-query($until: tablet) {
  .nav-card dt:first-child:before {
    top: 15px;
  }
}

.nav-card dd {
  @extend .govuk-body-s; 
  margin: 0;
}

.nav-card a {
  display: inline-block;
  max-width: 95%;
  text-decoration: none
}

.nav-card a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.nav-card a:focus {
  outline: 3px solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  gap: 25px;
  padding: 0
}

@media (max-width: 40.0525em) {
  .tabs {
    gap: 10px
  }
}

li.tab-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style: none
}

.tab-item a {
  height: -webkit-calc(100% - .25rem);
  height: calc(100% - .25rem);
  margin-bottom: .25rem;
  padding: 15px 20px;
  color: #0b0c0c !important;
  background-color: #f3f2f1;
  font-weight: 700;
  text-decoration: none
}

@media (max-width: 40.0525em) {
  .tab-item a {
    padding: 10px;
    text-align: center
  }
}

.tab-item a.active-tab:focus,
.tab-item a:focus {
  outline: 3px solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none
}

.tab-item a:active,
.tab-item a:focus {
  padding: 15px 20px
}

@media (max-width: 40.0525em) {

  .tab-item a:active,
  .tab-item a:focus {
    padding: 10px
  }
}

.tab-item a.active-tab {
  height: 100%;
  margin-bottom: 0;
  padding: 15px 20px;
  background-color: #fff
}

@media (max-width: 40.0525em) {
  .tab-item a.active-tab {
    padding: 10px
  }
}

section.tab-content {
  display: none
}

section.tab-content.active-tab {
  display: block
}
