<h2 class="govuk-heading-l">Past applications</h2>
<table class="table-card">
  <caption class="govuk-table__caption govuk-visually-hidden">Status</caption>
  <thead role="rowgroup" class="govuk-table__head">
    <tr role="row" class="govuk-table__row">
      <th role="columnheader" scope="col" class="govuk-table__header">VIN</th>
      <th role="columnheader" scope="col" class="govuk-table__header">VRM</th>
      <th role="columnheader" scope="col" class="govuk-table__header">Technical Test Name</th>
      <th role="columnheader" scope="col" class="govuk-table__header">Status</th>
      <th role="columnheader" scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
    </tr>
  </thead>
  <tbody role="rowgroup" class="govuk-table__body">
    {% for vehicle in data['pastApplications']['vehicles'] %}
    <tr role="row" class="govuk-table__row">
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">VIN</span> {{ vehicle.VIN }}</td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">VRM</span> <span class="dvsa-vrm">{{ vehicle.VRM | vrm }}</span></td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">Technical Test Name</span> {{ vehicle.technicalTestName }}</td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">Status</span> <span class="govuk-tag {{vehicle.status | statusClass}}">{{ vehicle.status | title }}</span></td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">Actions</span> {% if vehicle.status == 'ready' %}<a href="govuk-link govuk-link--no-visited-state">Book inspection</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>