<ul role="tablist" class="tabs">
  <li role="presentation" class="tab-item">
    <a role="tab" id="apply" class="govuk-body-l tab-link {% if activeTab == 'Apply' %}active-tab{% endif %}" aria-selected="{% if activeTab == 'Apply' %}true{% else %}false{% endif %}" {% if path != '/apply-for-a-vehicle-test/apply' %}tabindex="-1"{% endif %}
      data-tab="/apply-for-a-vehicle-test/apply"
      href="/apply-for-a-vehicle-test/apply">Apply</a>
  </li>
  <li role="presentation" class="tab-item">
    <a role="tab" id="applications" class="govuk-body-l tab-link {% if activeTab == 'Past applications' %}active-tab{% endif %}" aria-selected="{% if activeTab == 'Past applications' %}true{% else %}false{% endif %}"  {% if path != '/apply-for-a-vehicle-test/applications' %}tabindex="-1"{% endif %}
      data-tab="/apply-for-a-vehicle-test/applications"
      href="/apply-for-a-vehicle-test/applications">Past applications</a>
  </li>
</ul>