{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% if query.vehicle %}
{% set vehicle = (data.myVehicles.vehicles | findVin(query.vehicle)) %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-body-s govuk-link govuk-link--no-visited-sate" href="{{ path }}">Show all vehicles</a>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l">
      {{ vehicle.VIN }}
    </span>
    <h2 class="govuk-heading-l">
      {{ vehicle.model }}
    </h2>
    <h3 class="govuk-heading-m">Vehicle details</h3>
    {{ govukTaskList({items:data.vehicleSections[vehicle.category].sections | sectionsComplete(vehicle.completeness)}) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Applications</h3>
    <p class="govuk-body">
      No applications to show for {{ vehicle.VIN }}
    </p>
    {{govukButton({
      text: 'Create an application for this vehicle',
      href: '#'
    })}}
  </div>
</div>
{% else %}
<h2 class="govuk-heading-l">My vehicles</h2>
<table class="table-card">
  <caption class="govuk-table__caption govuk-visually-hidden">Existing vehicles</caption>
  <thead role="rowheader" class="govuk-table__head">
    <tr role="row" class="govuk-table__row">
      <th role="columnheader" scope="col" class="govuk-table__header">VIN</th>
      <th role="columnheader" scope="col" class="govuk-table__header">VRM</th>
      <th role="columnheader" scope="col" class="govuk-table__header">Vehicle category</th>
      <th role="columnheader" scope="col" class="govuk-table__header">Model</th>
      <th role="columnheader" scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
    </tr>
  </thead>
  <tbody role="rowgroup" class="govuk-table__body">
    {% for vehicle in data['myVehicles']['vehicles'] %}
    <tr role="row" class="govuk-table__row">
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">VIN</span> {{ vehicle.VIN }}</td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">VRM</span> <span class="dvsa-vrm">{{ vehicle.VRM | vrm }}</span></td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">Category</span> {{ vehicle.category }}</td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">Model</span> {{ vehicle.model }}</td>
      <td role="cell" class="govuk-table__cell"><span class="table-card-inline-label" aria-hidden="true">Actions</span><a href="{{ path }}?vehicle={{vehicle.VIN}}" class="govuk-link govuk-link--no-visited-sate">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{
  govukButton({
    'text': 'Add a new vehicle',
    'href': 'add-vehicle'
  })
}}

{% endif %}
