
{% from "email-notification.html" import emailNotification with context %}
{% extends "layouts/main.html" %}

{% block beforeContent %}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-caption-l">Create an account</div>
    <h1 class="govuk-heading-l">Check your email</h1>
    <p class="govuk-body">We have sent a one-time code to <strong>{{ data['email'] }}</strong>.</p>
    <p class="govuk-body">Enter the one-time code in the box below to confirm your phone number.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/what-is-your-phone-number">
    {{
      govukInput({
        label: {
          text: 'Your one-time email code'
        },
        classes: 'govuk-input--width-5'
      })
    }}
    {{
      govukButton({
        text: 'Continue'
      })
    }}
    </form>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="govuk-link govuk-link--no-visited-state">Send me a new code</a>
  </div>
</div>


{{ emailNotification("DVSA", "Your one-time email code is 53821") }}

{% endblock %}