
{% extends "layouts/main.html" %}
{% from "govukNotifications/components/phone.njk" import "govukNotificationsPhone" %}

{% block beforeContent %}
{{ govukNotificationsPhone("DVSA", "Your one-time phone code is 94827") }}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your phone</h1>
    <p class="govuk-body">We have sent a one-time code to <strong>{{ data['telephone-number'] | obfuscateNumber }}</strong>.</p>
    <p class="govuk-body">Enter the one-time code in the box below to confirm your phone number.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/set-password">
      {{
        govukInput({
          label: {
            text: 'Your one-time phone code'
          },
          classes: 'govuk-input--width-5'
        })
      }}
      {{
        govukButton({
          text: 'Continue'
        })
      }}
    </form>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="govuk-link govuk-link--no-visited-state">Send me a new code</a>
  </div>
</div>

{% endblock %}