
{% extends "layouts/main.html" %}
{% from "govukNotifications/components/email.njk" import "govukNotificationsEmail" %}

{% block beforeContent %}
  {{ govukNotificationsEmail("DVSA", "Your one-time email code is 53821") }}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-caption-l">Create an account</div>
    <h1 class="govuk-heading-l">Confirm your email address</h1>
    <p class="govuk-body">We have sent an email containing a link to <strong>{{ data['email'] }}</strong>.</p>
    <p class="govuk-body">To confirm your email address, click the link in the email. Then, you can continue to create your account.</p>
    <p class="govuk-body">If you have not received the email, check your junk or spam folder.</p>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Request a new email</a>
  </div>
</div>

{% endblock %}
