{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">This is a prototype of the "Apply for a vehicle test or approval" service.</p>
    <p>Start pages will be the standard GOV.UK pages for vehicles we already have.</p>
    <p>You can see the <a class="govuk-link" href="unauthenticated">unauthenticated journey here</a>.</p>
    <p>You can see the <a class="govuk-link" href="myvt">authenticated (MYVT) journey here</a>.</p>
    <p>If there are issues at any time with the prototype, try using the <strong>clear data</strong> link in the footer or use a private browsing window.</p>
  </div>
</div>

{% endblock %}
