{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "selectVehicle",
        fieldset: {
          legend: {
            text: "Select if the vehicle is a low-powered moped",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "This is a group of mopeds with pedals, plus auxiliary propulsion not exceeding 1kW, and a maximum design speed not exceeding 25 kilometres per hour. The group also includes 250-watt low-powered mopeds."
        },
        items: [
          {
            value: "yes",
            text: "Yes, it's a low-powered moped"
          },
          {
            value: "no",
            text: "No, it's not a low-powered moped"
          }
        ]
      }) }}

      {{ govukButton({
          text: "Save and continue"
        }) }}

    </form>

  </div>
</div>

{% endblock %}