{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
  name: "selectVehicleCapacity",
  fieldset: {
    legend: {
      text: "Select the engine capacity",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "200ccOrLess",
      text: "200cc or less"
    },
    {
      value: "moreThan200cc",
      text: "More than 200cc"
    }
  ]
}) }}

      {{ govukButton({
          text: "Save and continue"
        }) }}

    </form>

  </div>
</div>

{% endblock %}