{% extends "layouts/main.html" %}

{% block beforeContent %}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Set your password
    </h1>
    <p class="govuk-body">
      You will use this password every time you sign in.
    </p>
    <form action="/sign-in?account-created=true">
      <input type="hidden" name="password" value="set"/>
      {{ govukPasswordInput({
        label: {
          text: "New password"
        },
        hint: {
          text: 'Your password must be 12 characters or more and include at least 1 number.'
          },
        classes: 'govuk-!-width-three-quarters',
        name: "set-password",
        id: "set-password"
      }) }}
      {{ govukPasswordInput({
        label: {
          text: "Confirm new password"
        },
      classes: 'govuk-!-width-three-quarters',
      name: "confirm-password",
      id: "confirm-password"
      }) }}
      {{
        govukButton({
          text: 'Continue'
        })
      }}
    </form>
  </div>
</div>
{% endblock %}
