{% extends "layouts/main.html" %}


{% block pageTitle %}
{{ question }} – {{ serviceName }}
{% endblock %}

{% if data['ready-to-upload'] == 'yes' %}
  {% set question = 'Choose the technical test type' %}
  {% set types = data.tass %}
  {% set nextPage = 'application-type' %}
{% else %}
  {% set question = 'Choose the form you need' %}
  {% set types = data.forms %}
  {% set nextPage = 'download-form'  %}
{% endif %}

{% block beforeContent %}
{% if not data.addTo%}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{ nextPage }}">
      {{ govukRadios({
      name: "test-type",
      fieldset: {
      legend: {
        text: question,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
      },
      items: types[data['vehicle-category']] | radiosFromObject
      }) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}