{% extends "layouts/main.html" %}

{% set title = data['test-type'] %}

{% block pageTitle %}
Upload {{ title }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="upload-supporting-documentation">
      <h1 class='govuk-heading-l'>Upload application form</h1>
      <h2 class="govuk-heading-m">{{ title }}</h2>
      <p class="govuk-body">
        Upload your completed {{ title }} form below.
      </p>
      {{ govukFileUpload({
      id: "application-upload",
      name: "application-upload",
      label: {
      html: "<strong>Upload application form</strong>"
      }
      }) }}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
    
  </div>
</div>

{% endblock %}