{% extends "layouts/main.html" %}

{% set question = 'Vehicle details' %}
{% if query.changing %}
  {% set nextPage = "check-your-answers" %}
{% else %}
  {% set nextPage = "vrm-check" %}
{% endif %}

{% block pageTitle %}
  {{ question }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="{{ nextPage }}">
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      {{ govukInput({
      classes: "govuk-input--width-20",
      label: {
        text: "Vehicle identification number (VIN)"
      },
      hint: {
        text: "This is also known as a chassis number. VIN numbers can be 9, 17 or 21 characters long."
      },
      id: "vin",
      value: data['vin'],
      name: "vin",
      spellcheck: false
    }) }}
    {{ govukInput({
      label: {
      text: "Vehicle registration mark (VRM) or Trailer ID"
      },
      hint: {
        text: "If your vehicle or trailer is not yet registered, leave this field blank."
      },
      classes: "govuk-input--width-10",
      id: "vrm",
      value: data['vrm'],
      name: "vrm",
      spellcheck: false
      }) }}
      {% endcall %}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}