{% extends "layouts/main.html" %}

{% set question = 'What is your phone number?' %}
{% if query.changing %}
  {% set nextPage='check-your-answers' %}
{% else %}
  {% set nextPage = 'vehicle-details' %}
{% endif %}

{% block pageTitle %}
{{ question }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="{{ nextPage }}">
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      <p class="govuk-hint">We need your email address to update you about your application</p>
        {{ govukInput({
        label: {
        text: "Phone number"
        },
        id: "telephone-number",
        value: data['telephone-number'],
        name: "telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
        }) }}
        {{ govukInput({
        label: {
          text: "Confirm phone number"
        },
        id: "confirm-telephone-number",
        value: data['confirm-telephone-number'],
        name: "confirm-telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
        }) }}
      {% endcall %}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}