{% extends "layouts/main.html" %}

{% set question = 'Enter your telephone number' %}
{% if query.changing %}
  {% set nextPage='check-your-answers' %}
{% else %}
  {% set nextPage = 'phone-number-check' %}
{% endif %}

{% block pageTitle %}
{{ question }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <form class="form" action="{{ nextPage }}" novalidate>
      <div class="govuk-caption-l">Create an account</div>
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      <p class="govuk-hint">Use the telephone number you will sign in with in future.</p>
        {{ govukInput({
        label: {
        text: "Telephone number"
        },
        id: "telephone-number",
        value: data['telephone-number'],
        name: "telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
        } | errorFilter(errors)) }}
        {{ govukInput({
        label: {
          text: "Confirm telephone number"
        },
        id: "confirm-telephone-number",
        value: data['confirm-telephone-number'],
        name: "confirm-telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
        } | errorFilter(errors)) }}
      {% endcall %}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
