{% extends "layouts/main.html" %}

{% set question = 'Enter your name' %}

{% if query.changing %}
  {% set nextPage = 'check-your-answers' %}
{% else %}
  {% set nextPage = 'what-is-your-email-address' %}
{% endif %}

{% block pageTitle %}
{{ question }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% if not query.changing %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="{{ nextPage }}">
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
        {{ govukInput({
        label: {
        text: "Full name"
        },
        value: data['full-name'],
        id: "full-name",
        name: "full-name",
        autocomplete: "name",
        spellcheck: false
        }) }}
        {{ govukInput({
        label: {
        text: "Company name (if relevant)"
        },
        value: data['company-name'],
        id: "company-name",
        name: "company-name",
        spellcheck: false
        }) }}
        {{ govukButton({
          text: "Save and continue"
        }) }}
      {% endcall %}
    </form>
  </div>
</div>

{% endblock %}