{% extends "layouts/main.html" %}

{% set question = 'Enter your name' %}

{% if query.changing %}
  {% set nextPage = 'check-your-answers' %}
{% else %}
  {% set nextPage = 'name-check' %}
{% endif %}

{% block pageTitle %}
{{ question }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% if not query.changing %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
    {% endif %}
    <form class="form" action="{{ nextPage }}" novalidate>
      <div class="govuk-caption-l">Create an account</div>
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
        {{ govukInput({
        label: {
        text: "First name"
        },
        value: data['first-name'],
        id: "first-name",
        name: "first-name",
        autocomplete: "given-name",
        spellcheck: false
        } | errorFilter(errors)) }}
        {{ govukInput({
        label: {
        text: "Last name"
        },
        value: data['last-name'],
        id: "last-name",
        name: "last-name",
        autocomplete: "family-name",
        spellcheck: false
        } | errorFilter(errors)) }}
        {{ govukInput({
        label: {
        text: "Company name (if relevant)"
        },
        value: data['company-name'],
        id: "company-name",
        name: "company-name",
        spellcheck: false
        }) }}
        {{ govukButton({
          text: "Save and continue"
        }) }}
      {% endcall %}
    </form>
  </div>
</div>

{% endblock %}