{% extends "layouts/main.html" %}

{% set question = 'Enter your email address' %}

{% if query.changing %}
  {% set nextPage='check-your-answers' %}
{% else %}
  {% set nextPage='email-check' %}
{% endif %}

{% block pageTitle %}
  {{ question }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length > 0 %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
    }) }}
    {% endif %}
    <form class="form" action="{{ nextPage}}" novalidate>
      <div class="govuk-caption-l">Create an account</div>
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      <p class="govuk-hint">Use the email address you will sign in with in future.</p>
        {{ govukInput({
        label: {
        text: "Email address"
        },
        id: "email",
        value: data['email'],
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
        } | errorFilter(errors)) }}
        {{ govukInput({
        label: {
        text: "Confirm email address"
        },
        id: "confirm-email",
        value: data['confirm-email'],
        name: "confirm-email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
        } | errorFilter(errors)) }}
      {% endcall %}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
