{% extends "layouts/main.html" %}

{% set question = 'What is your email address?' %}

{% if query.changing %}
  {% set nextPage='check-your-answers' %}
{% else %}
  {% set nextPage='what-is-your-phone-number' %}
{% endif %}

{% block pageTitle %}
  {{ question }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if not query.changing %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="{{ nextPage}}">
      {% call govukFieldset({
      legend: {
      text: question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      <p class="govuk-hint">We need your email address to update you about your application</p>
        {{ govukInput({
        label: {
        text: "Email address"
        },
        id: "email",
        value: data['email'],
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
        }) }}
        {{ govukInput({
        label: {
        text: "Confirm email address"
        },
        id: "confirm-email",
        value: data['confirm-email'],
        name: "confirm-email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
        }) }}
      {% endcall %}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}