{% from "govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader -%}
{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{% from "govuk/components/input/macro.njk" import govukInput -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{% from "govuk/components/radios/macro.njk" import govukRadios -%}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{% from "govuk/components/button/macro.njk" import govukButton -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{% from "govuk/components/panel/macro.njk" import govukPanel -%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText -%}
{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText -%}
{% from "govuk/components/pagination/macro.njk" import govukPagination -%}
{%- set assetPath = assetPath | default('/plugin-assets/govuk-frontend' + govukFrontend.assetPath) -%}
<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <meta charset="utf-8">
    <title{% if pageTitleLang %} lang="{{ pageTitleLang }}"{% endif %}>{% block pageTitle %}GOV.UK - The best place to find government services and information{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
    {# Ensure that older IE versions always render with the correct rendering engine #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block headIcons %}
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">
    {% endblock %}

{% block head %}
  {% block meta %}{% endblock %}
  {% block stylesheets %}
    {% include "govuk-prototype-kit/includes/stylesheets.njk" %}
  {% endblock %}
{% endblock %}
    {# OpenGraph images needs to be absolute, so we need either a URL for the image or for assetUrl to be set #}
    {% if opengraphImageUrl or assetUrl %}
    <meta property="og:image" content="{{ opengraphImageUrl | default(assetUrl + '/images/govuk-opengraph-image.png') }}">
    {% endif %}
  </head>
  <body class="govuk-template__body {{ bodyClasses }} govuk-frontend-supported" {%- for attribute, value in bodyAttributes %} {{attribute}}="{{value}}"{% endfor %}>
    <script{% if cspNonce %} nonce="{{ cspNonce }}"{% endif %}>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {% block bodyStart %}{% endblock %}

    {% block skipLink %}
      {{ govukSkipLink({
        href: '#main-content',
        text: 'Skip to main content'
      }) }}
    {% endblock %}

    {% block header %}
      {{ govukHeader({
        serviceName: "Manage your vehicle testing"
      }) }}
    {% endblock %}

    {% block main %}
      <div>
        {% block beforeContent %}
        <div class="govuk-width-container">
          {{ govukPhaseBanner({
            tag: {
              text: "Prototype"
            },
            html: 'This is a design prototype for testing purposes only.'
          }) }}
        </div>
        {% if tabs %}
          <div class="app-masthead">
            <div class="govuk-width-container app-width-container">
              <nav aria-label="breadcrumb" class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/myvt">Home</a>
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    Apply for a vehicle test
                  </li>
                  <li id="current-page-crumb" aria-current="location" class="govuk-breadcrumbs__list-item">{{ activeTab }}
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          {% endif %}
        {% endblock %}
        <main class="{{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <div class="app-masthead">
            <div class="govuk-width-container app-width-container">
              <div class="masthead-heading">
                <h1 class="govuk-heading-xl">
                  {{ title }}
                </h1>
              </div>
              {%- if tabs -%}
              {{ tabs | safe }}
              {%- endif -%}
            </div>
          </div>
          <div class="govuk-width-container">
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    {% endblock %}
{% if (GOVUKPrototypeKit.isDevelopment) %}
  {% set footerItems = [
    {
      href: "/manage-prototype",
      text: "Manage your prototype"
    }, {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    }
  ] %}
{% else %}
  {% set footerItems = [
    {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    }
  ] %}
{% endif %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
   {% block bodyEnd %}
  {% block scripts %}
    {% include "govuk-prototype-kit/includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
  </body>
</html>
